
        <h1>Lista de Tarefas</h1> 
        <ul>
            <%
            console.log(tarefas);
            console.log
            tarefas.forEach(tarefa => { %>
              <li>
                <%= tarefa.title %>
                <a href="/tarefa/delete/<%= tarefa.id_tarefa %>"><button>Delete</button></a>
              </li>
            <% }); %> </ul>
            
            <form action="/tarefas" method="POST"> 
                <input type="text" name="title" placeholder="Nova Tarefa"> 
                <button type="submit">Adicionar</button> 
             

            
            

        </form> 

